{% extends "SetecBasecoBundle::main.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block baseco %}

    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a> <span class="divider">/</span></li>
        <li class="active">Data</li>
    </ul>

    <h2>Liste des articles</h2>
    
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh urna, consectetur id aliquam a, scelerisque a nisi. Suspendisse potenti. Duis et blandit nisl. Nullam porta sapien eu nisl commodo rhoncus id quis libero. Duis bibendum, odio in bibendum dignissim, tellus massa semper diam, in mattis dui quam vel dolor. Duis cursus mattis molestie. Praesent vitae imperdiet nisi.
</p><p style="text-align: justify;"> 
Maecenas nec arcu odio. In vel leo bibendum arcu accumsan rutrum. Phasellus eget semper neque. Pellentesque et elit tellus. Aliquam ac turpis sed mi vehicula elementum eu et erat. Nam dui ipsum, feugiat eu dignissim id, tincidunt consequat erat. Aenean sagittis eros ac odio posuere pretium. Suspendisse erat neque, dignissim vel suscipit volutpat, dictum vitae purus.
</p><p>
Nunc facilisis facilisis purus non bibendum. Mauris a nisl ac erat ullamcorper ornare at ut ipsum. Donec lectus eros, molestie at tristique nec, pellentesque non risus. Suspendisse commodo felis ac magna bibendum aliquet. Praesent dolor tellus, feugiat eu hendrerit at, convallis a tellus. Sed lectus massa, pharetra quis tristique ut, volutpat quis ligula. Vivamus eget porta neque. Aenean eleifend tincidunt tellus, eget aliquet leo pulvinar at. Proin est ligula, aliquam venenatis molestie in, interdum vitae metus.
</p><p>
Cras vitae malesuada leo. In dapibus aliquam rutrum. In hac habitasse platea dictumst. Cras tortor urna, fringilla vel volutpat at, convallis sit amet mi. Integer pretium aliquam faucibus. Sed tellus neque, convallis a fringilla dapibus, feugiat ut lorem. Morbi nec arcu metus, a convallis risus. In pellentesque odio nec arcu tincidunt facilisis suscipit augue ultrices. Proin urna orci, interdum eget iaculis sit amet, condimentum quis eros. Fusce ligula eros, consectetur non fringilla quis, pretium vitae augue. Aenean cursus massa enim. Maecenas vel tortor eu lorem laoreet fermentum. Praesent scelerisque massa et augue porttitor non adipiscing eros posuere.
</p>
{% endblock %}