/* Sticky footer styles
            -------------------------------------------------- */

ul.nav li:hover {
    background-color: #eee;
}

html,
body {
        height: 100%;
        color: #666;
        font-family: 'Open Sans', sans-serif;
        /* The html and body elements cannot have any padding or margin. */
}

body {
        background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Open Sans', sans-serif;
}

.sidebar-nav {
        padding: 9px 0;
}

#search_input {
    padding: 1px 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 101px;
    line-height: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -65px;
}

/* Set the fixed height of the footer here */
#push
{
        /*height: 65px;*/
        
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
    }
}

.notifications.top-right {
    right: 25px;
    top: 25px;
}

        .modal-backdrop.fade.in {
                opacity: 0.25;
        }
            #footer {
                height: 65px;
                min-height: 65px;
                background-color: #333;
                text-align: center;
                color: #999;
                background-image: url("../img/bg-footer-noise.jpg");
                border-top: 3px solid #222;
            }

            .credit {
                margin: 20px 0;
            }

            /* Lastly, apply responsive CSS fixes as necessary */
            @media (max-width: 767px) {
                #footer {
                  margin-left: -20px;
                  margin-right: -20px;
                  padding-left: 20px;
                  padding-right: 20px;
                }
            }

            .navbar {
                background-color: #fff;
                border-bottom: 2px solid #eee;
            }